.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: rgba(236, 236, 236, 1);
}
.content-frame {
  gap: 10px;
  top: 0px;
  left: 122px;
  width: 953px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.topbar {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  flex-direction: column;
}
.input {
  gap: 8px;
  width: 507px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.label {
  gap: 10px;
  display: flex;
  padding: 0 8px;
  align-items: center;
}
.text {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.input-field {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15000000596046448) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 13px;
  background-color: var(--dl-color-ui-white);
}
.input-area {
  gap: 10px;
  color: rgba(26, 31, 22, 0.5);
  display: flex;
  padding: 8px;
  flex-grow: 1;
  font-size: 20px;
  text-align: left;
  align-items: center;
  font-family: Cabin;
  font-weight: 500;
}
.content-area {
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.row01 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.item-card {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image01 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text02 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text04 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text06 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon {
  width: 18px;
  height: 18px;
}
.item-card1 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image02 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image03 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image01 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text08 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text10 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action1 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text12 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon01 {
  width: 18px;
  height: 18px;
}
.item-card2 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image04 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image05 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image02 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text14 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text16 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action2 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text18 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon02 {
  width: 18px;
  height: 18px;
}
.item-card3 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image06 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image07 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image03 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content3 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text20 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text22 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action3 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text24 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button3 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon03 {
  width: 18px;
  height: 18px;
}
.row02 {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.item-card4 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image08 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image09 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image04 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content4 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text26 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text28 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action4 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text30 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button4 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon04 {
  width: 18px;
  height: 18px;
}
.item-card5 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image10 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image11 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image05 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content5 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text32 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text34 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action5 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text36 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button5 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon05 {
  width: 18px;
  height: 18px;
}
.item-card6 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image12 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image13 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image06 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content6 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text38 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text40 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action6 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text42 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button6 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon06 {
  width: 18px;
  height: 18px;
}
.item-card7 {
  gap: 8px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  justify-content: center;
}
.product-image14 {
  width: 191.35829162597656px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 22px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.product-image15 {
  width: 159.35829162597656px;
  height: 200px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
}
.image07 {
  top: 0px;
  left: 0px;
  width: 159px;
  height: 200px;
  position: absolute;
}
.content7 {
  gap: 8px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.text44 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.text46 {
  color: var(--dl-color-font-tertiary);
  height: auto;
  text-align: left;
  line-height: normal;
}
.action7 {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.text48 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.button7 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 9px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon07 {
  width: 18px;
  height: 18px;
}
.line1 {
  top: 51px;
  left: 1095px;
  width: 922px;
  height: 1px;
  position: absolute;
}
.bag-area {
  gap: 10px;
  top: 0px;
  left: 1095px;
  width: 345px;
  height: 1024px;
  display: flex;
  padding: 72px 8px 8px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.title {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.text50 {
  color: var(--dl-color-font-dark);
  height: auto;
  text-align: left;
  line-height: normal;
}
.bag-items {
  gap: 16px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.row {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.bag-item {
  gap: 16px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-ui-white);
}
.product-image16 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.image08 {
  top: -9.920000076293945px;
  left: 0px;
  width: 64px;
  height: 84px;
  position: absolute;
}
.bag-item1 {
  gap: 16px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-ui-white);
}
.product-image17 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.image09 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.bag-item2 {
  gap: 16px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-ui-white);
}
.product-image18 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.image10 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.row1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.bag-item3 {
  gap: 16px;
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: var(--dl-color-ui-white);
}
.product-image19 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.image11 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.cta {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.button8 {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  overflow: hidden;
  align-items: center;
  border-radius: 14px;
  justify-content: center;
  background-color: var(--dl-color-ui-dark);
}
.icon08 {
  width: 24px;
  height: 24px;
}
.text52 {
  color: var(--dl-color-font-white);
  height: auto;
  text-align: left;
  line-height: normal;
}
.navbar {
  gap: 10px;
  top: 16px;
  left: 16px;
  width: 72px;
  height: 992px;
  display: flex;
  padding: 8px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-ui-white);
}
.nav-links-top {
  gap: 32px;
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.logo {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: var(--dl-color-ui-white);
}
.group1 {
  width: 16px;
  height: 20.709152221679688px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.union {
  top: 0px;
  left: 5.588119983673096px;
  width: 9px;
  height: 6px;
  position: absolute;
}
.rectangle3 {
  top: 6.174230098724365px;
  left: 3.6654372215270996px;
  width: 12px;
  height: 15px;
  position: absolute;
}
.rectangle2 {
  top: 5.403406620025635px;
  left: 2.796354055404663px;
  width: 12px;
  height: 15px;
  position: absolute;
}
.menu-icon {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.icon09 {
  width: 24px;
  height: 24px;
}
.nav-link {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-font-dark);
}
.icon10 {
  width: 24px;
  height: 24px;
}
.nav-link1 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}
.icon11 {
  width: 24px;
  height: 24px;
}
.nav-link-bottom {
  gap: 10px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
}
.nav-link2 {
  gap: 8px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: var(--dl-color-ui-danger);
}
.icon12 {
  width: 24px;
  height: 24px;
}
